.App {
  font-family: sans-serif;
  text-align: center;
  margin: 1%;
}
table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.searchDiv {
  margin-bottom: 30px;
}

.searchDiv input {
  font-size: larger;
  background-color: white;
  border: 2px solid grey;
}
.edit-btn{
  margin: 2%;
}
.delete-btn{
  margin: 2%;
}
